<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <form action="/" method="get">
      <select name="taskType" onchange="this.form.submit()">
        <option value="ee">Select</option>

        <% taskTypeArray.forEach(function(t){ %>
          <option value="<%= t %>">
            <%= t %>
          </option>
        <% }); %>

        
        <!-- <option value="home">Home</option>
        <option value="school">School</option> -->
      </select>
    </form>

    <div class="main">

      <h1>
        <%= taskTypeName %>
      </h2>

      <!-- Date -->
      <h2>
        <%= date %>
      </h2>
      <hr />
      <!-- my tasks -->
      <ul>
        <% tasks.forEach(function(task){ %>
        <li>
            <input 
            type="checkbox" 
            onclick="boxClick(this)"
            value="<%= task._id %>"
            <%= task.compleated ? "checked" : ""  %>
            />
            <span ondblclick="editTask(this)"
            <%= task.compleated ? "class=cross-out" : "" %>
            >
                <%= task.name %>
            </span>

            <!-- update form -->
            <form action="/updateTask" method="post" class="update-form">
              <input type="hidden" name="taskType" value="<%= taskTypeName %>">
              <input type="text" name="task" value="<%= task.name %>">
              <button type="submit" name="button" value="<%= task._id %>">Save</button>
            </form>

            <!-- delete button -->
            <a href="/delete/<%= task._id %>" class="delete-task">X</a>
          </li>
          <% }); %>
      </ul>
      <hr />
      <!-- form for adding task -->
      <form action="/" method="post">
        <input type="hidden" name="taskType" value="<%= taskTypeName %>">
        <input type="text" name="taskName" id="" placeholder="task" autocomplete="off" autofocus/>
        <button type="submit">+</button>
      </form>
    </section>
    <script>

        function boxClick(elem){
            if(elem.checked){
                elem.nextElementSibling.classList.add("cross-out");
                window.open("/update/true/"+elem.value, "_self");
            } else {
                elem.nextElementSibling.classList.remove("cross-out");
                window.open("/update/false/"+elem.value,"_self")
            }
        }

        function editTask(elem){
          elem.nextElementSibling.style.display = "inline-block";
        }
    </script>
  </body>
</html>
